@{
    ViewData["Title"] = "Home Page";
    var cmsPage = Context.Items["cmspage"] as Page;
}

<p>@ViewData["permalink"]</p>
<body class="indexPage">
    <img src="~/img/sitetrisIndex.jpg" style="opacity: 0.6; margin-left: 20%; margin-top: 15%; border-radius: 100px" />
</body>

