@model CMS.Models.User
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@if (SignInManager.IsSignedIn(User))
{
<div class="profileContainer">
     <div class="profileHeader">
         <h3 style="padding-left:5px;"><b> @Model.Name's Profile</b></h3>
     </div>
    <div class="userCard">
        <img class="profilePicture" src="data:image/gif;base64,@ViewBag.img">
        <div class="userInfo">
            @if (Model.Name != null)
            {
                <br />
                <h3> @Model.Name.ToUpper()</h3>
                <h5 style="color:darkgray; background-color:#515151; padding: 5px; border-radius: 20px; width:70px"><i>&nbspUser</i></h5>
                <p style="font-size:15px;"><b>Email:  </b>@Model.Email</p>

            }

            <a asp-controller="Home" asp-action="EditProfile" title="EditProfile"><button type="button" class="btn btn-success">Edit Profile</button></a>
        </div>

    </div>
    <div id="bioTitle">
        <h3>Bio</h3>
    </div>

    <div class="bio">
        @if (Model != null)
        {
            <p>"@Model.Bio"</p>
        }
    </div>
</div>



}
else
{
    <h2>Sign in to see stuff</h2>
}

