@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table>
    <tr>
        <th>Criteria</th>
        <th>Description</th>
        <th>Status</th>

    </tr>
    <tr>
        <td>Submitted on time</td>
        <td>Submitted on Saturday at: </td>
        <td style="background-color:#65ad06">Done</td>

    </tr>
    <tr>
        <td>Compiles & runs 1st try</td>
        <td>We hope</td>
        <td style="background-color:#65ad06">Done</td>

    </tr>
    <tr>
        <td>Have at least one page where logged on users can comment on posts.</td>
        <td>Log in, create a page, go to [List of Pages] and comment something!</td>
        <td style="background-color:#f4bc42">Partial</td>
    </tr>
    <tr>
        <td>Administrators can create pages.</td>
        <td>Log in as "admin@snow.edu" with password "Abc123!" and go to [Page Builder]</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>
    <tr>
        <td>Dynamic pages will have at least three different content areas (e.g. title, heading, body).</td>
        <td>Unlimited content areas!</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>
    <tr>
        <td>Do not use the default style / theme. Impress me.</td>
        <td>Navbar, body, and css completely re-written</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>
    <tr>
        <td>Use a sqlite database included in your repository.</td>
        <td>Yeet;drop table</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>
    <tr>
        <td>Special Feature #1 (Use of Images).</td>
        <td>Go to your profile and submit a picture!</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>
    <tr>
        <td>Special Feature #2 (Personalized Profiles)</td>
        <td>Click on your email at the top right corner</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>
    <tr>
        <td>Special Feature #3 (Dynamic Routing).</td>
        <td>REEEEEEEEEEEEEEEEEEEE</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>
    <tr>
        <td>Special Feature #4 (External 3rd party/This one is too simple though lol).</td>
        <td>Quote of the day service</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>
    <tr>
        <td>Special Feature #5 (Drag & drop design elements).</td>
        <td>Create a page in [Page Builder]</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>
    <tr>
        <td>Special Feature #6 (SignalR Comments).</td>
        <td>REEEEEEEEEEEEEEEEEEEEEEEE</td>
        <td style="background-color:#f4bc42">Partial</td>
    </tr>
    <tr>
        <td>Clean architecture and code.</td>
        <td>Maybe ¯\_(ツ)_/¯</td>
        <td style="background-color:#f4bc42">Partial</td>
    </tr>
    <tr>
        <td>Include a table showing where each requirement is fulfilled..</td>
        <td>Is this recursion?</td>
        <td style="background-color:#65ad06">Done</td>
    </tr>

</table>  