@model Guid
@{
//page id
}

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script>
    function reloadComments() {
        $.ajax({
            url: "/Comments/getComments",
            type: "post",
            contentType: "application/json",
            data: JSON.stringify(@Html.Raw(Json.Serialize(Model))),
            success: function (data) {
                $('#commentIdnull').html(data);
            }
        });
    }
</script>
<div>
    <h4>Comments</h4>
    <h6>New Comment</h6>
    @Html.Partial("_newComment", new Comment { ParentId = null, PageId = Model })

    <hr />
    <div  id="commentIdnull">

    </div>

</div>
<script>
    reloadComments();
    var con = new signalR.HubConnectionBuilder().withUrl("/commentsHub").build();


    con.on("newComment", function (comment) {
        var parentid = 'commentId' + comment.parentId;
        var parent = document.getElementById(parentid);
        //debugger;
        parent.innerHTML +=`
        <div style="border-top: solid 1px; margin-left: 2em;">
        <p>User: ${comment.userId}</p>
        <p>${comment.body}</p>
        </div>`;
    });


    con.start();

</script>