@model Guid

<div id="comments">
    @Html.Partial("_newComment", new Comment { ParentId = null })

</div>
<script>
    $.ajax({
        url: "/Comments/getComments",
        type: "post",
        contentType: "application/JSON",
        data: JSON.stringify({ 'pageId': '@Model'}),
        success: function (data) {
            $('comments').append(data); 
        }
    });
</script>