/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



/*resizing stuff*/

.myNavItem {
    width: 100%
}
.Selectable {
    width: 100%;
    height: 10em;
}
div.HPane {
    overflow: hidden;
    width: 100%;
    height: 50%;
    border: 1px solid #666;
}
div.VPane {
    overflow: hidden;
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid #666;
}
.Selectable > .topPane {
    background-color: #7a7a7a;
}
.Selectable > .bottomPane {
    background-color: #ffffff;
}
.Selectable > .leftPane {
    background-color: #7a7a7a;
}
.Selectable > .rightPane {
    background-color: #ffffff;
}
.myAside {
    height: 99vh;
}
.msg {
    display: inline;
}
.ui-resizable-s {
    bottom: 0px;
    height: 15px;
}
.ui-resizable-e {
    width: 15px;
}
.presentH {
    height: 5em;
    width: 10em;
    background-color: white;
    border: 1px solid black;
}
.hFrame {
    height: 30em;
    width: 100%;
    border: 1px solid #666;
}
.editFrame {
    border: 2em solid black;
}

