/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


ul.navbarUl {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    box-shadow: 0px 5px 10px grey;
    width: 100%;
}
#logo{
float:left;
margin: 15px;
}

.navbarButton {
    display: block;
    color: #27b0c9;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    font-family: 'Roboto';
    text-decoration: none;
}
.elevateButton {
    padding: 10px;
    margin: 10px;
    float:right;
    font-size: 80%;
    text-decoration: none;
    background-color: green;
    border-radius: 20px;
    color:white;
}
.elevateButton a {
    text-decoration: none;
}

.floaty {
    position:relative;
    float:right;
}

.demoteButton {
    padding: 10px;
    margin: 10px;
    float:right;
    font-size: 80%;
    text-decoration: none;
    background-color: indianred;
    border-radius: 20px;
    color:white;
}
.demoteButton a {
    text-decoration: none;
}
.elevateButton:hover {
    text-decoration: none;
    background-color: darkgreen;
    color: white;
}

.demoteButton:hover {
    text-decoration: none;
    background-color:darkred;
    color: white;
}

.userList {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 95%;
    background-color: #b2b2b2;
    opacity: .75;
    border-radius: 20px;
    margin: 15px;
}

li.navbarLi {
    float: left;
}

li.navbarLi a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    font-family: 'Roboto';
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
    color: white;
}

.active {
    background-color: #4CAF50;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.indexPage {
    object-fit: cover;
    height: 100% !important;
    margin: 0;
    overflow: hidden;
}

.indexContent {
    margin-left: 40%;
    color: white;
    font-size: 50PX;
    text-align:left;
}

body {
    background-color: #828282;
    animation: fadein 2s;
    background: url("../img/minimalBack.jpg") center center fixed;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
}

.navbar {
    padding: 25px;
    font-size: 16px;
    box-shadow: 0px 10px 10px #595959;
}

.nav-item{
    color: white !important;
    margin-right:25px;
}

.profileContainer {
    box-shadow: 0px 10px 5px #595959;
    border-radius: 15px;
    width: 60%;
    margin-left: 25%;
}

.profileContainer {
    font-family: 'Roboto';
    font-size: 22px;
    overflow: hidden;
}

.profileHeader {
    background-color: darkgray;
    overflow: hidden;
    padding: 20px;
}
#bioTitle {
    background-color: darkgray;
    overflow: hidden;
    padding: 15px;
    padding-left:20px;
}

.bio {
    font-style: italic;
    padding: 30px;
    background-color: white;
    overflow: hidden;
}
.userCard {
    display: inline-block;
    display: flex;
    flex: 1 0;
    padding: 30px;
    background-color: #d6d6d6;
    overflow: hidden;
}
.userInfo{

}
img.profilePicture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    max-width: 250px;
    border: 3px solid #009e0d;
    padding: 5px;
    margin: 0px 50px 10px 0px;
}
.imageModal {
    width: 80% !important;
}

.modal {
    padding: 0 !important;
    
}

.modal-dialog {
    max-width: 60% !important;
    height: 80%;
    padding: 0;
    margin-left: 20%;

}


.modal-content {
    border-radius: 0 !important;
    height: 100%;
}
.modal-body {
    overflow: scroll;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



/*resizing stuff*/

.myNavItem {
    width: 100%
}
div.HPane {
    overflow: hidden;
    width: 100%;
    height: 50%;
    border: 1px solid #666;
}
div.VPane {
    overflow: hidden;
    width: 50%;
    height: 100%;
    float: left;
    border: 1px solid #666;
}
.msg {
    display: inline;
}
.presentH {
    height: 5em;
    width: 10em;
    background-color: white;
    border: 1px solid black;
}
.hFrame {
    height: 30em;
    width: 100%;
    border: 1px solid #666;
}
.editFrame {
    border: 2em solid black;
}

