
<form id="imageUploadForm" asp-action="UploadImage" enctype="multipart/form-data">
    <label>Upload Image</label>
    <input type="file" name="image" id="inputFile"/>
    <input type="submit" value="upload" class="btn btn-outline-primary" />
</form>

@*<script>
    $("#imageUploadForm").submit(function (event) {
        event.preventDefault();
        debugger;
        $.ajax({
            url: "/img/UploadImage",
            type: "post",
            dataType: "file",
            data: $("#inputFile").val(),
            success: function (data) {
                alert(data);
            }
        });
    });
</script>*@